<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <script src="/js/test.js"></script>
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/1200px-Manchester_United_FC_crest.png">
        </div>       
        {{>footer}}
    </body>
</html>